* {
  box-sizing: border-box;
  font-family: "Poppins";
  font-style: normal;
}

body {
  margin: 0;
}

.main {
  padding: 36px;
}

.header {
  background-color: #282c34;
  height: 150px;
  display: flex;
  align-items: center;
  color: white;
}

.header--image {
  height: 100%;
}

.header--text {
  padding: 50px;
  margin-left: auto;
  font-size: 1.25rem;
}

.course {
  font-weight: lighter;
}

.meme-form {
  padding: 50px;
  display: grid;
  grid-template: 40px 40px / 1fr 1fr;
  gap: 17px;
}

.form-button {
  grid-column: 1/ -1;
  font-family: "Poppins";
  border-radius: 10px;
  color: #282c34;
}

.form-input {
  font-family: "Poppins";
  border-radius: 5px;
  text-indent: 10px;
}

.box-meme-image {
  display: flex;
  align-items: center;
  justify-content: center;
}

.meme-image {
  max-width: 500px;
}